/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #190019;
    color: #FBE4D8;
    line-height: 1.6;
}

/* head */
header {
    background: linear-gradient(90deg, #2B124C, #522B5B);
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    opacity: 0.9;
}

/* secois */
section {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

h2 {
    margin-bottom: 25px;
    border-bottom: 2px solid #854F6C;
    display: inline-block;
    padding-bottom: 5px;
}

/* sobre */
.sobre p {
    font-size: 18px;
}

/* projetos meus */
.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

/* carts nao mexer */
.card {
    background: #2B124C;
    padding: 30px;
    border-radius: 15px;
    width: 280px;
    text-decoration: none;
    color: #FBE4D8;
    border: 1px solid #522B5B;
    transition: all 0.3s ease;
}

.card h3 {
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-10px);
    background: #522B5B;
    border-color: #854F6C;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* footer */
footer {
    background: #2B124C;
    color: #FBE4D8;
    text-align: center;
    padding: 50px 20px;
    margin-top: 40px;
}

footer p {
    margin: 8px 0;
}

footer a {
    color: #FBE4D8;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #DFB6B2;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
    font-size: 18px;
}

/* responsividade */
@media (max-width: 768px) {
    header {
        padding: 40px 15px;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 15px;
    }

    section {
        padding: 40px 15px;
    }

    .sobre p {
        font-size: 16px;
    }

    .projetos {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        padding: 20px;
    }

    footer {
        padding: 30px 15px;
    }
}