body {
    font-family: 'Space Mono', monospace;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; 
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(227, 12, 12, 0.1); 
    width: 300px;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
